asgiref==3.7.2
distlib==0.3.7
django-adminlte-3==0.1.6
django-adminlte3==0.1.6
django-ckeditor==6.7.0
django-crispy-forms==2.1
django-icons==23.5
django-js-asset==2.2.0
filelock==3.13.1
myenv==201902.7
pillow==10.2.0
platformdirs==3.11.0
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.6